.bg-basecolor{
    background-color: black;
}

img {
    width: 50px;
    height: auto;
    padding-right: 10px;
  }


page {
    width: 100%;
}

.right-align{
    justify-content: flex-end;
}

.loginbox{
    width:400px;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 100vh;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}


.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.profile{
    padding-top: 25vh;
    padding-bottom: 10vh;
}
.profilecard{
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
}

.logoutbutton{
    color: aqua;
}

.insertregistry{
    padding-top: 7%;
    width:700px;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
}
.registrybody{
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}
.registrytitle{
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
  }

  .databasestyling{
    padding-top: 7%;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
  }

  .databasebody{
    margin-left: auto;
    margin-right: auto;
  }
  .studentdatabase{
      margin: auto;
  }